flask~=3.0.3
requests~=2.31.0
yake~=0.4.8
beautifulsoup4~=4.12.3
alembic~=1.13.1
psycopg2~=2.9.9
Flask-Migrate~=4.0.7
Flask-SQLAlchemy~=3.1.1
celery~=5.3.6
networkx~=3.3
matplotlib~=3.8.4
SQLAlchemy~=2.0.29