@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background-color: silver;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.table-responsive {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    overflow-x: auto;
}

.table-responsive thead tr {
    background-color: #979b9a;
    color: #ffffff;
    text-align: left;
}

.table-responsive thead th {
    color: #ffffff;
}

.table-responsive th,
.table-responsive td {
    padding: 12px 30px;
}

.table-responsive tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-responsive tbody tr:nth-of-type(even),
.table-responsive tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.table-responsive tbody tr:last-of-type {
    border-bottom: 2px solid #979b9a;
}

.filters-container {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0 0;
}

@media screen and (min-width: 400px) {
    .table-responsive {
        width: 68%;
        max-width: 1295px;
    }

    .filters-container {
        width: 35%;
        max-width: 667px;
        min-width: 400px;
    }
}

input[type='text'],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.NavbarItems {
    background-color: rgba(240, 240, 240, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 68%;
    height: 80px;
    border-radius: 10px;
    top: 0;
    right: 77%;
    transform: translate(23.5%);
    z-index: 9999;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    list-style: none;
    align-items: center;
    padding-top: 10px;
    font-size: 1.2rem;
}

.menu-icons {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .NavbarItems {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #ffff;
        width: 100%;
        height: auto;
        position: absolute;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        text-align: center;
        padding: 70px 0 10px 0;
        margin: 0;
        z-index: -1;
        transition: 0.5s ease-in-out;
        border-radius: 10px;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.5s ease-in-out;
    }

    .menu-icons {
        display: block;
    }

    .menu-icons i {
        font-size: 1.2rem;
        color: #3f3b3b;
    }
}

.footer {
    padding: 0.59rem 17%;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.top {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom {
    padding-top: 2rem;
    align-items: center;
    text-align: center;
}

/* CARD */





