@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    background: lightgoldenrodyellow;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  margin-top: 25vh;
}

.flex-item-left {
  background-color: transparent;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: transparent;
  padding: 10px;
  flex: 50%;
}

.logo{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background: transparent;
}

/* SEARCH */
.search-bar{
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    border-radius: 28px;
    border: 1px solid black;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    margin: auto;
}

.search-bar:focus-within{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: black;
    background: transparent;
    width: 300px;
}

.search-icon{
    cursor:pointer;
    background: #f6f6f6;
}

.search-icon:hover{
    transform: scale(1.1);
}

.search-bar-options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#search-close{
    visibility: hidden;
}

.label{
    margin-left: 10px;
    accent-color: red;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

@media (max-width: 500px){
    .search-input{
        width: 150px;
    }

    #logo img{
        transform: scale(0.5);
    }
}
/* QUOTES*/
.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LITERATURE */
.logo-literature-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LITERATURE ICONS NAVIGATION */
.functionality-navigation{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}

#home-icon{
    font-size: 3em;
}

.home-icon:link, .home-icon:visited, .home-icon:active {
    color: black;
    text-decoration: none;
}

.home-icon:hover{
    transform: scale(1.1);
}

/* LITERATURE CARD */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 70%;
    display: flex;
    margin: 20px;
    border: 5px solid #ddd;
    border-radius: 28px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.article-image {
    width: 50%;
    object-fit: cover;
    margin: auto;
}

.article-title {
    margin-top: 0;
}

.article-link:visited, .article-link:active, .article-link:link {
    text-decoration: none;
    color: black;
}

.authors-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.author-item {
    margin-right: 10px;
}

.author-item:last-child {
    margin-right: 0;
}

.author-link {
    color: #007bff;
    text-decoration: none;
}

.author-link:hover {
    text-decoration: underline;
}

.date-text{
    display: flex;
}

.date-published{

}

.date {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}