@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: lightgoldenrodyellow;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  margin-top: 25vh;
}

.flex-item-left {
  background-color: transparent;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: transparent;
  padding: 10px;
  flex: 50%;
}

.logo{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background: transparent;
}

/* SEARCH */
.search-bar{
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    border-radius: 28px;
    border: 1px solid black;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    margin: auto;
}

.search-bar:focus-within{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: black;
    background: transparent;
    width: 300px;
}

.search-icon{
    cursor:pointer;
    background: #f6f6f6;
}

.search-icon:hover{
    transform: scale(1.1);
}

.search-bar-options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    visibility: hidden;
}

#search-close{
    visibility: hidden;
}

.label{
    margin-left: 10px;
    accent-color: red;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

@media (max-width: 500px){
    .search-input{
        width: 150px;
    }

    #logo img{
        transform: scale(0.5);
    }
}

/* CARD */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }

  .card-date {
    font-size: 12px;
    color: #999;
  }

