@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    background: lightgoldenrodyellow;
}

input[type="checkbox"]{
    margin-right: 3px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  margin-top: 25vh;
}

.flex-item-left {
  background-color: transparent;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: transparent;
  padding: 10px;
  flex: 50%;
}

.logo{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background: transparent;
}

/* SEARCH */
.search-bar{
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    border-radius: 28px;
    border: 1px solid black;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    margin: auto;
}

.search-bar:focus-within{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: black;
    background: transparent;
    width: 300px;
}

.search-icon{
    cursor:pointer;
    background: #f6f6f6;
}

.search-icon:hover{
    transform: scale(1.1);
}

.search-bar-options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 400px;
    border: 5px solid #ddd;
    background: #f6f6f6;
    border-radius: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-close{
    visibility: hidden;
}

.label{
    margin-left: 10px;
    accent-color: red;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

@media (max-width: 500px){
    .search-input{
        width: 150px;
    }
    .search-bar-options{
        width: 80%;
    }

    #logo img{
        transform: scale(0.5);
    }
}
/* QUOTES*/
.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LITERATURE */
.logo-literature-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LITERATURE ICONS NAVIGATION */
.functionality-navigation{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}

#home-icon{
    font-size: 3em;
}

.home-icon:link, .home-icon:visited, .home-icon:active {
    color: black;
    text-decoration: none;
}

.home-icon:hover{
    transform: scale(1.1);
}

.search-informations-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

/* LITERATURE CARD */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 70%;
    display: flex;
    margin: 20px;
    border: 5px solid #ddd;
    border-radius: 28px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:first-child{
    margin-top: 0;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.article-image {
    width: 50%;
    max-height: 300px;
    object-fit: cover;
    margin: 20px auto;
}

.article-title {
    margin-top: 0;
}

.article-link:visited, .article-link:active, .article-link:link {
    text-decoration: none;
    color: black;
}

.authors-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.author-item {
    margin-right: 10px;
}

.author-item:last-child {
    margin-right: 0;
}

.author-link {
    color: #007bff;
    text-decoration: none;
}

.author-link:hover {
    text-decoration: underline;
}

.article-link-text{
    display: flex;
    flex-wrap: wrap;
}

.article-link{
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.date-text{
    display: flex;
}

.date-published{

}

.date {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

/* DESCRIPTION */
.description-container{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.description-content{
    display: none;
    margin-left: 5px;
}

.description-content.show {
    display: block;
    transition: ease-in 1.5s;
}

.description-content.hide {
    display: none;
    transition: ease-out 1.5s;
}

.description-title{
    margin-left: 5px;
}

/* KEYWORDS */
.keywords-container{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.keywords-title{
    margin-left: 5px;
}

.keywords-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.keywords-list.show {
    display: flex;
    flex-wrap: wrap;
}

.keyword-item{
    margin-left: 5px;
}

/* CITATIONS */
.citations-container{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.citations-title {
    margin-left: 5px;
}

.citations-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.citations-list.show {
    display: flex;
    flex-wrap: wrap;
}

.citation-item{
    margin-left: 5px;
}

/* SEARCH BAR DROPDOWN*/
/* SEARCH */
.search-bar-dropdown{
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    border-radius: 28px;
    border: 1px solid black;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    margin: auto;
}

.search-bar-dropdown:focus-within{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.search-input-dropdown{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: black;
    background: transparent;
    width: 300px;
}

.search-icon-dropdown{
    cursor:pointer;
    background: #f6f6f6;
}

.search-icon-dropdown:hover{
    transform: scale(1.1);
}

.search-bar-options-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#search-close-dropdown{
    visibility: hidden;
}

.label-dropdown{
    margin-left: 10px;
    accent-color: red;
}

.search-selection-dropdown{
    width: 100px;
    margin-right: 5px;
    border-right: 2px solid #dde2f1;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.selected-value-dropdown{
    position: absolute;
    top: 50px;
    left: -10px;
    background: #fff;
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
    list-style: none;
}


.default_option-selected {
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
}

.selected-value-dropdown.active{
    display: block;
}

.selected-value-dropdown li{
    padding-bottom: 20px;
    text-align: center;
}

.selected-value-dropdown li:hover{
    color: #6f768d;
}

.selected-value-dropdown li:last-child{
    padding-bottom: 0;
}

#close-icon-button-dropdown{
    visibility: hidden;
    cursor: pointer;
}

/* SORT ICONS */
.sort-icons{
    display: flex;
    justify-content: end;
    width: 70%;
    margin: auto;
}

@media (max-width: 800px){
    .sort-icons{
        justify-content: center;
    }
    .functionality-navigation{
        justify-content: center;
    }
}

.sort-icon{
    font-size: 22px;
    margin-left: 8px;
    background: #f6f6f6;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
}

@media (max-width: 1200px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .left, .right {
        flex: 1;
        width: 100%;
        text-align: center;
    }

    .article-image {
        width: 50%; /* Adjust image width as needed */
        margin-bottom: 20px; /* Add some space between image and text */
    }
}

@media (max-width: 500px){
    #logo{
        width: 350px;
    }
    .search-bar-dropdown{
        width: 300px;
    }
    .search-selection-dropdown{
        width: auto;
    }
    .search-input-dropdown{
        width: 130px;
    }
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* TABLE LINKS */
#bad-links-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#bad-links-table th {
  background-color: #f2f2f2;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#bad-links-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#bad-links-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#bad-links-table th:hover {
  background-color: #ddd;
}

/* Table container */
.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    border-collapse: collapse;
    width: 33%;
    margin-top: 20px;
    border: 5px solid #ddd;
    border-radius: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top th, .top td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.top th {
    background-color: #ddd;
}

.top tr {
    background-color: #f2f2f2;
}

.top tr:hover {
    background-color: lightgoldenrodyellow;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1em;
}

.tab button:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-top: none;
}

.tabcontent.show {
    display: block;
}

@media (max-width: 1400px){
    .tab {
        width: 70%;
    }
}

@media (max-width: 600px){
    .top-keywords-header{
        font-size: 15px;
    }
}

/* 404 PAGE */
.logo-not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-not-found-text, .page-not-found-text:active, .page-not-found-text:link, .page-not-found-text:visited{
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    color: black;
}

.proxy-container{
    flex-basis: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* CO-OCCURENCE GRAPH */
.graph-occurence{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.graph-occurence-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto 5px auto;
}

.occurence-graph-download-icon{
    font-size: 22px;
    margin-left: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.download-icon-hidden{
    display: none;
}

#image-co-occurence-graph{
    cursor: pointer;
}

#fetch-co-occurence-graph{
    margin-top: 5px;
    width: 50%;
}