<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebscrapniTo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body style="background: lightgoldenrodyellow">

    <div class="wrapper" style="background: lightgoldenrodyellow">
        <div class="flex-container">
            <div class="logo flex-item-right">
                <img id="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
            </div>
        </div>
        <form id="searchForm" method="POST">
            <div class="search-bar">
                <span id="search-icon-button" type="submit" class="search-icon material-symbols-outlined">search</span>
                <input class="search-input" id="search_word" name="search_word" type="search" placeholder="Enter word">
                <span id="search-close" class="search-icon material-symbols-outlined">close</span>
                <span id="search-icon-options" class="search-icon material-symbols-outlined">expand_more</span>
            </div>
            <div class="search-bar-options">
                <label class="label" for="hindawi_value">
                    <input type="checkbox" id="hindawi_value" name="hindawi_value" value="true">Hindawi
                </label>
                <label class="label" for="sciendo_value">
                    <input type="checkbox" id="sciendo_value" name="sciendo_value" value="true">Sciendo
                </label>
                <label class="label" for="springer_value">
                    <input type="checkbox" id="springer_value" name="springer_value" value="true">Springer
                </label>
                <div class="proxy-container">
                    <label class="label" for="proxy_value">
                        Use proxy:
                        <input type="checkbox" id="proxy_value" name="proxy_value" value="true">
                    </label>
                </div>
            </div>
        </form>
    </div>
<script src="{{ url_for('static', filename='js/index.js' )}}"></script>
</body>
</html>
