<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebscrapniTo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/2daf9707fb.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script>
        $(document).ready(function(){
			$(".default-option-selected").click(function(){
			  $(".selected-value-dropdown").addClass("active");
			});

			$(".selected-value-dropdown li").click(function(){
			  var text = $(this).text();
			  $(".default-option-selected").text(text);
			  $(".selected-value-dropdown").removeClass("active");
			});
		});
    </script>
</head>
<body style="background: lightgoldenrodyellow">
    <div class="wrapper">
        <div class="logo-literature-container">
            <div class="logo">
                <img id="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
            </div>
        </div>
        <div class="search-bar-dropdown">
            <div class="search-selection-dropdown">
                <div class="default-option-selected">Title</div>
                <ul class="selected-value-dropdown">
                    <li class="title-selected" value="title-selected">Title</li>
                    <li class="author-selected" value="author-selected">Author</li>
                    <li class="keyword-selected" value="keyword-selected">Keyword</li>
                    <li class="date-selected" value="date-selected">Year</li>
                </ul>
            </div>
            <span id="search-icon-button-dropdown" type="submit" class="search-icon-dropdown material-symbols-outlined">search</span>
            <input class="search-input-dropdown" id="search_option" name="search_option" type="search" placeholder="Enter title">
            <span id="close-icon-button-dropdown" type="submit" class="close-icon-dropdown material-symbols-outlined">close</span>
        </div>
        <div class="functionality">
            <div class="functionality-navigation">
                <a class="home-icon" href="{{ url_for('index') }}"><span id="home-icon" class="material-symbols-outlined" title="Back home">arrow_back</span></a>
            </div>
            <div class="search-informations-result">
                <h3 class="total-results">Total results: {{ links|length }}</h3>
                <h3>Word: <span id="dynamic-word">{{ word }}</span></h3>
            </div>
            <div class="sort-icons">
                <span class="sort-icon" id="bad-links-icon" title="Bad links"><i class="fa-solid fa-link-slash"></i></span>
                <span class="sort-icon" id="top-results-icon" title="Top results"><i class="fa-solid fa-table"></i></span>
                <span class="sort-icon" id="graph-icon" title="Graphs"><i class="fa-solid fa-bar-chart"></i></span>
                <span class="sort-icon" id="download-icon" title="Download JSON"><i class="fa-solid fa-download"></i></span>
                <span class="sort-icon" id="sortAsc" title="Sort A-Z"><i class="fa-solid fa-arrow-down-a-z"></i></span>
                <span class="sort-icon" id="sortDesc" title="Sort Z-A"><i class="fa-solid fa-arrow-up-a-z"></i></span>
            </div>
            <div id="badLinksModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="modal-body">
                        <table id="bad-links-table">
                            <thead>
                                <tr>
                                    <th>Website</th>
                                    <th>Link</th>
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
        {% for item in links %}
        <div class="card" style="background-color: lavender">
            <div class="left">
                {% if item.image != '' %}
                <img class="article-image" src="{{ item.image }}" alt="Image">
                {% else %}
                <img class="article-image" src="{{ url_for('static', filename='images/no-image.png') }}" alt="Logo">
                {% endif %}
            </div>
             <div class="right">
                <h2 class="article-title">{{ item.article_title }}</h2>
                <div class="article-link-text">
                    <span class="material-symbols-outlined">link</span>
                    <a class="article-link" href="{{ item.link }}" class="article-link">{{ item.link }}</a>
                </div>
                <div class="date-text">
                    <span class="material-symbols-outlined">date_range</span>
                    <p class="date">{{ item.date }}</p>
                </div>
                <ul class="authors-list">
                    {% for author in item.authors %}
                    <span class="material-symbols-outlined">person</span>
                    <li class="author-item">{{ author.name }}</li>
                    {% endfor %}
                </ul>
                <div class="description-container">
                    <span class="material-symbols-outlined">description</span>
                    <h3 class="description-title">Description</h3>
                    <p class="description-content">{{ item.description }}</p>
                </div>
                <div class="keywords-container">
                    <span class="material-symbols-outlined">key</span>
                    <h3 class="keywords-title">Keywords</h3>
                    <ul class="keywords-list">
                        {% for keyword in item.keywords %}
                            <li class="keyword-item">{{ keyword.word }}{% if not loop.last %},{% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="citations-container">
                    <span class="material-symbols-outlined">format_quote</span>
                    <h3 class="citations-title">Citations</h3>
                    <ul class="citations-list">
                        {% for citation in item.citations %}
                            <li class="citation-item">{{ citation.reference }} </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   </div>
<script src="{{ url_for('static', filename='js/literature.js' )}}"></script>
</body>
</html>
