<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebscrapniTo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class="wrapper">
        <div class="logo-literature-container">
            <div class="logo">
                <img id="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
            </div>
        </div>
        <div class="functionality-navigation">
            <a class="home-icon" href="{{ url_for('index') }}"><span id="home-icon" class="material-symbols-outlined">arrow_back</span></a>
        </div>
        <div class="card-container">
        {% for item in links %}
        <div class="card" style="background-color: lavender">
            <div class="left">
                {% if item.image != '' %}
                <img class="article-image" src="{{ item.image }}" alt="Image">
                {% else %}
                <img class="article-image" src="{{ url_for('static', filename='images/no-image.png') }}" alt="Logo">
                {% endif %}
            </div>
             <div class="right">
                <h2 class="article-title">{{ item.article_title }}</h2>
                <div class="article-link-text">
                    <span class="article-link-title">Link: </span><a class="article-link" href="{{ item.link }}" class="article-link">{{ item.link }}</a>
                </div>
                <div class="date-text">
                    <span class="date-published">Published:</span><p class="date">{{ item.date }}</p>
                </div>
                <ul class="authors-list">
                    {% for author in item.authors %}
                    <li class="author-item">{{ author.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
   </div>
<script src="{{ url_for('static', filename='js/literature.js' )}}"></script>
</body>
</html>
